---
import "@fontsource/patua-one";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/lighthouse_favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Beacon Design System</title>
  </head>
  <body>
    <h1 class="title">
      <img src="/lighthouse.png" alt="lighthouse" /> Beacon Design System
    </h1>
    <p class="subtitle">Coming soon 🚀</p>
  </body>
</html>
<style>
  body {
    font-family: "Patua One", sans-serif;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    color: #1a1a1a;
  }

  .subtitle {
    text-align: center;
  }
</style>
